@use "./variables" as *;

nav {
  width: 100vw;
  height: 10vh;
  display: none;
}

.welcome {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  border: 3px solid black;
  font-family: $text-heading;
  margin: 20px 20px 20px 20px;
  h4 {
    border: 3px solid black;

  }
  h2 {
    font-size: 4.5rem;
    text-align: center;
    margin: 50px;
    border: 3px solid black;
  }
  
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $text-primary;
  font-weight: bold;
  text-align: center;
  border: 3px solid black;
  margin: 20px 20px 20px 20px;

  &__photo {
    width: 175px;
    height: 250px;
    margin-bottom: 50px;
    border-radius: 5%;
      }
}
.technicalSkills {
  h2 {
    font-family: $text-heading;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $text-primary;
  font-weight: bold;
  border: 10px solid brown;
  margin: 20px 20px 20px 20px;
}

.myProjects {
  border: 2px solid yellow;
  text-align: center;
  margin: 20px 20px;
  font-family: $text-heading;

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  border: 5px solid green;

  &__img {
    display: flex;
    border: 2px solid red;
    width: 325px;
    height: 250px;
    margin-bottom: 5px;
 }
}
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: 10vh;
  width: 100vw;
  background-color: $color-black;
  color: $color-white;
  border: 2px solid green;
  
  p {
    background-color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  nav {
    display: block;
  }
}
