@use "./variables" as *;

nav {
  width: 100vw;
  height: 10vh;
  display: none;
}

.welcome {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  border: 3px solid black;
  font-family: $text-heading;
  margin: 20px 20px 20px 20px;
  h4 {
    border: 3px solid black;
  }
  h2 {
    font-size: 4.5rem;
    text-align: center;
    margin: 50px;
    border: 3px solid black;
  }
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $text-primary;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border: 3px solid black;
  margin: 20px 20px 20px 20px;
  h2 {
    margin: 40px;
  }

  &__photo {
    width: 175px;
    height: 250px;
    margin-bottom: 50px;
    border-radius: 5%;
  }
}
.technicalSkills {
  margin-bottom: 25px;
  h2 {
    font-family: $text-heading;
    margin-bottom: 30px;
    font-size: 2rem;
  }
  p {
    margin-bottom: 30px;
    font-size: 1.2rem;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $text-primary;
  font-weight: bold;
  border: 10px solid brown;
  margin: 20px 20px 20px 20px;

  &__container {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    &--img1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    &--img2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    &--img3 {
      grid-area: 1 / 3 / 2 / 4;
    }
    &--img4 {
      grid-area: 2 / 1 / 3 / 2;
    }
    &--img5 {
      grid-area: 2 / 2 / 3 / 3;
    }
    &--img6 {
      grid-area: 2 / 3 / 3 / 4;
    }
    &--img7 {
      grid-area: 3 / 1 / 4 / 2;
    }
    &--img8 {
      grid-area: 3 / 2 / 4 / 3;
    }
    &--img9 {
      grid-area: 3 / 3/ 4 / 4;
    }

  }
}

.myProjects {
  border: 2px solid yellow;
  text-align: center;
  margin: 20px 20px;
  font-family: $text-heading;
  

  h2 {
    margin: 15px;
    font-size: 2rem;
  }
  h6 {
    text-align: left;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    border: 5px solid green;

    &__img {
      display: flex;
      border: 2px solid red;
      width: 325px;
      height: 250px;
      margin-bottom: 5px;

      &--mobile {
        display: none;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100vw;
  background-color: $color-black;
  color: $color-white;
  border: 10px solid green;

  img {
    width: 30px;
    height: 30px;
    background-color: $color-white;
  }

  p {
    background-color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  nav {
    display: block;
  }

  .myProjects {
    .portfolio {
      &__img {
        &--mobile {
          display: block;
          border: 2px solid red;
          width: 250px;
          height: 250px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
