@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&display=swap");

$text-heading: "Lato", sans-serif;
$text-primary: "Libre Baskerville", serif;

$color-black: #000000;
$color-white: #fff;
$color-grey: #efefef;
$color-primary: #4612e1;

$desktop-breakpoint: 1024px;
