@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Source+Sans+Pro:wght@200&display=swap');

$text-heading: "Oswald", sans-serif;
$text-primary: "Source Sans Pro", sans-serif;

$color-black: #000000;
$color-white: #fff;
$color-grey: #efefef;
$color-primary: #4612e1;

$desktop-breakpoint: 1024px;
