@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Source+Sans+Pro:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #faf8e3;
}

nav {
  width: 100vw;
  height: 10vh;
  display: none;
}

.welcome {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
  margin: 20px 20px 20px 20px;
}
.welcome h2 {
  font-size: 4.5rem;
  text-align: center;
  margin: 50px;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 20px 20px 20px;
}
.aboutMe h2 {
  margin: 40px;
}
.aboutMe__photo {
  width: 175px;
  height: 250px;
  margin-bottom: 50px;
  border-radius: 5%;
}

.technicalSkills {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  margin: 20px 20px 20px 20px;
}
.technicalSkills h2 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 30px;
  font-size: 2rem;
}
.technicalSkills p {
  margin-bottom: 30px;
  font-size: 1.2rem;
  text-align: center;
}
.technicalSkills__container {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.technicalSkills__container--img1 {
  grid-area: 1/1/2/2;
}
.technicalSkills__container--img2 {
  grid-area: 1/2/2/3;
}
.technicalSkills__container--img3 {
  grid-area: 1/3/2/4;
}
.technicalSkills__container--img4 {
  grid-area: 2/1/3/2;
}
.technicalSkills__container--img5 {
  grid-area: 2/2/3/3;
}
.technicalSkills__container--img6 {
  grid-area: 2/3/3/4;
}
.technicalSkills__container--img7 {
  grid-area: 3/1/4/2;
}
.technicalSkills__container--img8 {
  grid-area: 3/2/4/3;
}
.technicalSkills__container--img9 {
  grid-area: 3/3/4/4;
}

.myProjects {
  text-align: center;
  margin: 20px 20px;
  font-family: "Oswald", sans-serif;
}
.myProjects h2 {
  margin: 15px;
  font-size: 2rem;
}
.myProjects h6 {
  margin-right: 80%;
  font-size: 0.75rem;
}
.myProjects h4 {
  margin-right: 72.75%;
  font-size: 1.25rem;
}
.myProjects .portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.myProjects .portfolio .button {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin-top: 15px;
}
.myProjects .portfolio .button .button-left {
  border-radius: 5%;
  background-color: #fff;
  color: #000000;
  padding: 0.5rem 0.5rem;
}
.myProjects .portfolio .button .button-right {
  border-radius: 5%;
  background-color: #fff;
  color: #000000;
  padding: 0.5rem 0.5rem;
}
.myProjects .portfolio__img {
  display: flex;
  width: 325px;
  height: 250px;
  margin: 15px;
}
.myProjects .portfolio__img--mobile {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 20vh;
  width: 100vw;
  background-color: #000000;
  color: #fff;
}
footer div {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  background-color: #000000;
}
footer div img {
  border: solid #faf8e3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 1px;
}
footer p {
  background-color: #000000;
  font-size: 1.5rem;
  margin: 35px;
}

@media screen and (min-width: 1024px) {
  nav {
    display: block;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
  }
  nav div {
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  nav div button {
    width: 115px;
    height: 30px;
    border-radius: 5%;
  }
  .myProjects .portfolio__img--mobile {
    display: block;
    border: 2px solid red;
    width: 250px;
    height: 250px;
    margin-bottom: 5px;
  }
}/*# sourceMappingURL=main.css.map */